<div class="container">
  <% @frames.each do |frame| %> 
    <div class='frame'>
      <% if frame.strike == true %>
        <h3> X </h3>
      <% elsif frame.spare == true  %>
        <h3> / </h3>
      <% else %>
        <h3><%= frame.score %></h3>
      <% end %>
    </div>
  <% end %>
  <div class='frame'>
    <%= @game.score %>
  </div>
</div>
<a href="/bowl" class='button'>Throw Ball</a>